<body>
<div class="info-container">
<div clss="file-info-container">
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" >
    <div class="col p-4 d-flex flex-column position-static" >
      <strong class="d-inline-block mb-2 text-primary">{{file.access}}</strong>
     <div class="title"><h3 class="mb-0">{{file.title}}</h3></div> 
      <div class="mb-1 text-muted">{{file.size}}</div>
      
<div class="input-group mb-3">
  
  <div class="input-group-prepend">
    <h6 id = "link-label" class="mb-0">Download link:</h6>
    <span class="input-group-text" id="basic-addon3">{{file.url}}</span>
  </div>
</div>
      <p class="card-text mb-auto">{{file.description}}</p>
      <div class="upload-date"><div class="mb-1 text-muted">{{file.upload}}</div></div>
      <button type="button" class="btn btn-primary" (click)="onDownloadClick()">Download</button>
    </div>
  </div>
</div>
</div>
</body>
