<div class="p-5 mb-4 bg-light rounded-3">
   
      <div class="main">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Hello! We are so happy to see you here!</h1>
      <p class="col-md-8 fs-4">You can use our service to store files! We can assure you that it is much more convenient than storing them on your own computer. Moreover, you can share them with friends. Access to each of these files will be via a short link.</p>
      <p class="col-md-8 fs-4">You are not with us yet? Click on the button below!</p>
      </div>
     
      
    </div>
    <button class="btn btn-primary btn-lg" type="button" routerLink="/signup">Sign Up</button>
  </div>